text {
  font-size: 32;
  font-family: SevilleSharp-Regular;
  font-weight: regular;
  y: 12;
  text-length: 32;
  fill: white;
}

textarea {
  font-size: 32;
  font-family: SevilleSharp-Regular;
  font-weight: regular;
  y: 12;
  text-length: 1024;
  fill: white;
}

#currentTimeText {
  font-size: 30;
  text-length: 12;
  width: 100;
  height: 24;  
  x: 287;
  y: 39;  
}


#status {
  text-anchor: middle;
  display-align: center;
  x: 5%;
  y: 5%;
  width: 90%;
  height: 90%;
  text-length:512;
  font-size: 32;
  fill: white;
  display: none;
}

#destinationsScreen {
  display: none;
}

#destinationsList {
  width: 311;
  height: 200;
}

.tile-item {
  x: 0;
  y: 0;
  width: 100%;
  height: 179;
}

.tile-item-image {
  width: 280;
  height: 179;
}


.destination-name {
  font-size: 30;
  text-length: 16;
  x: 19;
  y: 40;  
}

.duration {
  font-size: 60;
  text-length: 12;
  x: 20;
  y: 107;  
}

.distance {
  font-size: 30;
  text-length: 12;
  x: 262;
  y: 77;  
}

.distanceLabel {
  font-size: 30;
  text-length: 12;
  x: 262;
  y: 107;
}

.arrival {
  font-size: 30;
  text-length: 20;
  x: 19;
  y: 155;   
}

.error-image {
  display: none;
  x: 115; 
  y: 55;
  
}
