#destinationsScreen {
  display: none;
}

.item {
  x: 0;
  y: 0;
  width: 100%;
  height: 179;
}

text {
  font-size: 32;
  font-family: SevilleSharp-Regular;
  font-weight: regular;
  y: 12;
  text-length: 32;
  fill: white;
}

textarea {
  font-size: 32;
  font-family: SevilleSharp-Regular;
  font-weight: regular;
  y: 12;
  text-length: 1024;
  fill: white;
}

#currentTimeText {
  font-size: 30;
  text-length: 10;
}

.destination-name {
  font-size: 30;
  text-length: 15;  
}

.duration {
  font-size: 60;
  text-length: 10;  
}

.distance {
  font-size: 30;
  text-length: 10;  
}

.arrival {
  font-size: 30;
  text-length: 20;  
}

#status {
  text-anchor: middle;
  display-align: center;
  x: 5%;
  y: 5%;
  width: 90%;
  height: 90%;
  text-length:512;
  font-size: 32;
  fill: white;
}